<template name="header">
  <nav class="black" role="navigation">
    <div class="nav-wrapper container">
      {{> sideNav}}
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      <a class="brand-logo"><i class="fa fa-gamepad" aria-hidden="true"></i><i class="fa fa-trophy" aria-hidden="true"></i></a>
      <div class="right-align">
        <!-- {{> loginButtons}} -->
        <!-- {{> atForm state='signUp'}} -->
        {{#if currentUser}}
          {{name}}
        {{else}}
          <!-- {{> atNavButton}} -->
          <!-- <a class="waves-effect waves-light btn red" id="signIn" >SIGN IN</a> -->
        {{/if}}
		  </div>
    </div>
  </nav>
  <div id="signInModal" class="modal">
    <div class="modal-content">
      {{> atForm state='signIn'}}
    </div>
  </div>
  <script>
  (function($){
    $(function(){
      // $('.button-collapse').sideNav();
      $('.parallax').parallax();
    }); // end of document ready
    })(jQuery); // end of jQuery name space
  </script>
</template>
