<template name="sideNav">
  <div id="nav-mobile" class="side-nav">
    <div class="profile-bg"></div>
    <ul>
      <div class="divider"></div>
      <li><a href="/"><i class="material-icons icon-padding">home</i>Home</a></li>
      <li><a href="/players"><i class="material-icons icon-padding">person_pin</i>Players</a></li>
      <li><a href="/results"><i class="material-icons icon-padding">grid_on</i>Results</a></li>
      <li><a href="/discards"><i class="material-icons icon-padding">delete</i>Discards</a></li>
      <li><a href="/guesses"><i class="material-icons icon-padding">help_outline</i>Guesses</a></li>
      <!-- <li><a href="/upcoming-matches"><i class="material-icons icon-padding">insert_invitation</i>Upcoming Matches</a></li> -->
      {{#if currentUser}}
        <li><a id="signOut"><i class="fa fa-power-off" aria-hidden="true"></i>Logout</a></li>
      {{/if}}
      <!-- <li>{{> atForm state='signIn'}}</li> -->
    </ul>
  </div>
</template>
