<template name="sideNav">
  <div id="nav-mobile" class="side-nav">
    <div class="profile-bg"></div>
    <ul>
      <div class="divider"></div>
      {{#if currentUser}}
        <!-- <li>{{> atNavButton}}</li> -->
        <li><a href="/signed/home"><i class="fa fa-home" aria-hidden="true"></i>Home</a></li>
        <li><a><i class="fa fa-user" aria-hidden="true"></i>Perfil</a></li>
        <li><a><i class="fa fa-line-chart" aria-hidden="true"></i>Actividad</a></li>
        <li><a><i class="fa fa-envelope" aria-hidden="true"></i>Mensajes</a></li>
        <div class="divider"></div>
        <li><a href="/signed/events"><i class="fa fa-bullhorn" aria-hidden="true"></i>Eventos</a></li>
        <div class="divider"></div>
        <li><a id="signOut"><i class="fa fa-power-off" aria-hidden="true"></i>Salir</a></li>
      {{/if}}
      <!-- <li>{{> atForm state='signIn'}}</li> -->
    </ul>
  </div>
</template>
