<template name="landing">
  <h1>The Squad Builder Showdown Cup</h1>
  <p>The CeX Squad Builder Showdown Cup is underway. 8 of the best UK Fifa Youtubers will go head to head to become the next Squad Builder Champion.</p>
  <div class="container">
    <iframe width="100%" height="400" src="https://www.youtube.com/embed/YHc-sJCygQs" frameborder="0" allowfullscreen></iframe>
    <p class="legend center">The video above explains the rules of the tournament and what's at stake.</p>
  </div>
  <!--   Icon Section   -->
  <div class="row iconSection">
    <div class="col s12 m4">
      <div class="icon-block">
        <h2 class="center red-text"><i class="material-icons">format_list_numbered</i></h2>
        <h5 class="center">League Structure</h5>
        <p class="light center">2 Groups. 3 points for a win. 1 for a Draw. 0 for a Loss. Best of 4 knockout stage afterwards.</p>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="icon-block">
        <h2 class="center red-text"><i class="fa fa-trophy" aria-hidden="true"></i></h2>
        <h5 class="center">Winner takes all!</h5>
        <p class="light center">The cup, the glory, £1,000, and one xBox or PS4 bundle for one of their subs.</p>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="icon-block">
        <h2 class="center red-text"><i class="fa fa-youtube-play" aria-hidden="true"></i></h2>
        <h5 class="center">Stay updated</h5>
        <p class="light center">Watch the recap on Andy's channel at the end of every round. Don't miss a thing!</p>
      </div>
    </div>
  </div>
  <p class="legend center">This website offers a way to keep track of everything around the tournament. The creators retain ownership of all video content. This is a non-commercial open source community site.</p>
</template>
